* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, a, label {
  text-transform: capitalize;
}



/* Header */
.main-header {
    padding-top: 10px;
    top: 0;
    width: 100vw;
    position: fixed;
    z-index: 9;
    background-color: white;
}

/* Logo */
.main-logo {
    width: 90px;
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 20;
}

/* Main Nav */
.main-nav {
  margin-top: 85px;
  height: 40px;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 0px 10px 15px -12px rgba(0,0,0,0.52);
  -moz-box-shadow: 0px 10px 15px -12px rgba(0,0,0,0.52);
  box-shadow: 0px 10px 15px -12px rgba(0,0,0,0.52);
}

.main-nav ul {
  display: inline-block;
}

.main-nav li {
  float: left;
  list-style-type: none;
}

.main-nav li a {
  padding: 5px 30px;
  text-decoration: none;
  color: rgb(70,70,70);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 40px;
  transition: all 0.3s;
}

.main-nav li a:hover{
  color: blue;
}

/* Cart Button */
.cart{
  position: absolute;
  right: 10px;
  border: 0;
  background-color: white;
  padding: 5px;
  width: 80px;
  color: rgb(70,70,70);
  width: 10%;
  font-size: 1.33em;
}

/* Hero Header */
.hero{
  top: 130px;
  height: 300px;
  width: 100%;
  position: relative;
}

.hero h1{
  text-transform: capitalize;
  font-size: 5rem;
  position: absolute;
  top: 100px;
  left: 40px;
}

.hero img{
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Container */
.container{
  margin-top: 140px;
}

/* Row */
.row{
  padding-top: 55px;
  padding-bottom: 50px;
}

.row img{
  width: 100%;
}

/* Add Product Btn */
.add{
  display: block;
  margin-top: 10px;
}

/* Temp Page Alternate Columns */
.flip:nth-of-type(2n+1){
  position: relative;
  margin-bottom: 250px;
}

.flip:nth-of-type(2n+1) .flip-img{
  right: 0;
  position: absolute;
}

/* Media Image */
.container .media-img,
.media-section>p {
  width: 70%;
  margin: auto;
  display: block;
  color: white;
}

.media-section p {
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  background:grey;
  text-transform: capitalize;
}

.media-section p>a {
  color: white;
  text-decoration: underline;
}
.container section .media-section {
  margin-bottom: 50px;
}

body .contact-hero {
  width: 100%;
  height: 100%;
}

.container .contact-form {
  position: absolute;
  top: 180px;
  right: 5%;
  margin: 0;
  width: 35%;
}

.step-div {
  padding-bottom: 50px;
  width: 70px;
  padding-right: 25px;
  margin-top: 40px;
}

body #step1-icon svg:first-child {
  border: solid 2px black;
  border-radius: 12px;
}

body 
#step2-icon svg:first-child,
#step3-icon svg:first-child {
  color: white;
  border: solid 2px black;
  border-radius: 12px;
}

#step1-icon,
#step2-icon,
#step3-icon {
  display: flex;
  align-items: baseline;
  position: relative;
}

body #step1-icon div:nth-child(2),
#step2-icon div:nth-child(2) {
  height: 160px;
  width: 2px;
  background: black;
  position: absolute;
  top: 60px;
  right: 47%;
}

body .container .show {
  display: block;  
}

body .container .hide {
  display: none;
}

.shop-product {
  margin: 10px 0;
}

.steps {
  margin-top: 55px;
}

.cart-box {
  width: 330px;
  padding: 10px;
  height: 260px;
  border: solid 1px black;
}

.cart-box {
  margin: 60px 0;
}

body .cart-product {
  width: 100%;
}

body .box-img {
  width: 30%;
  margin: auto;
  display: block;
  margin-top: -50px;
  border: solid 10px white
}

.product-placeholder {
  position: relative;
}

.product-placeholder {
  background-color: darkgray;
  width: 70px;
  display: inline-block;
  margin: auto;
  height: 52px;
  padding: 0;
}

.product-placeholder p{
  margin: 0;
  font-size: 12px; 
}

.product-placeholder svg{
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 5;
}

#error-msg {
  color: red;
  display: none;
  width: 350px;
}

.summary-table {
  margin:40px 0;
  width: 450px;
}

.preview-img {
  width: 100px;
}

.checkout-box {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.cancelCheckout {
  cursor: pointer;
}

/* Footer */
.main-footer{
    margin: 0;
    margin-top: 30px;
    padding: 20px;
    background-color: #E5E5E5;
    position: relative;
}


/* Copyright Footer */
.sub-footer{
    height: 30px;
    width: 100%;
    bottom: 0;
    z-index: 2;
    padding: 20px;
    position: relative;
}

.sub-footer p{
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 1px;
    line-height: 30px;
}

/* Resizing 570 */
@media only screen and (max-width:570px) {

}
